<style type="text/css">
	.button{
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
  		height: 30px;
  		text-align: center;
  		align-self: center;
	}
	.delete-request-btn{
		border: 0.8px solid #c9c9c9;
		border-radius: 6px;
		width: 65px;
		height: 32px;
		font-size: 14px;
		text-align: center;
		align-items: center;
		font-weight: bold;
	}
	.confirm-request-btn{
		background-color: #1f8eed;
		width: 70px;
		height: 32px;
		color: white;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		padding-right: 60px;
	}
	.following-btn{
  		border: 1px solid #dbdbdb;
  		background: white;
  		color: #262626;
  		width: 85px;
  	}
  	.follow-btn{
  		background-color: #3897f0;
  		color: white;
  		width: 60px;
  	}
  	.follow-back-btn{
  		background-color: #3897f0;
  		color: white;
  		width: 60px;
  	}
  	.confirm-request-btn:hover{
		color:white;
	}
	.follow-btn:hover{
		color:white;
	}
	.follow-back-btn:hover{
		color:white;
	}
  	
  	a.button:hover{
  		color: #000;
  		text-decoration: none;
  	}
  	a.follow-btn:hover{
  		color: #FFF!important;
  	}
</style>