{% extends 'base.html' %}

{% block content %}

{% include 'snippets/modals/connection-modal.html' %}



<!-- <style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style> -->





<style type="text/css">
	
	.h3{
		text-align: center;
	}
	.profile_picture {
	  		border-radius: 50%;
	  		height: 80px;
	  		width: 80px;
	  	}
	@media(min-width: 768px){
		.profile_picture {
	  		height: 150px;
	  		width: 150px;
	  	}
	  	hr{
	  		margin-top: 40px;
	  	}
	}

  	.edit_button{
  		border: 0.5px solid #d9d9d9;
  		border-radius: 5px;
  		height:30px; 
  		
  	}
  	.first-row{
  		max-width: 300px;
  	}
  	.list-group-item{
  		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
  	}
  	.follow-back-btn{
  		width: 96px;
		height: 33px;
		font-size: 12px;
		background-color: #1f8eed;
		color: white;
		align-self: center;
		font-weight: 790;
  	}
  	.profile{
  		padding: 60px, 20px, 0px;
  	}
  	.detail-count{
  		max-width: 280px;
  	}
	.inbox-btn{
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
  		height: 30px;
  		text-align: center;
	}
	.first-small-row{
		margin: 30px, 16px, 24px;
	}


</style>

{% include 'snippets/buttons_css.html' %}


	<div class="container profile">

		<div class="row">
			{% if user_profile_requested %}
				<p>{{user_profile}} has requested to follow you</p>
				<a href="{% url 'confirm_request' user_profile.slug%}">Confirm</a>
				<a href="{% url 'cancel_request' user_profile.slug%}">Cancel</a>
			{% endif %}
		</div>

		<!--MEDIUM OR GREATER LAYOUT-->
		<div class="row d-md-flex d-none">
			<div class="col-md-3 offset-md-1">
				<img class="mt-5 profile_picture" src="{{user_profile.profile_picture.url}}">
			</div>
			<div class="col detail-col">
				<div class="row first-row">
					
					<p class="mt-5" style="font-size: 22px;">{{user_profile}}</p>
					{% if user_profile == request.user %}
					<a class="mt-5 mx-3 text-dark edit_button text-center" style="font-size: 14px; width: 95px;" href="{% url 'account_edit' %}"><b >Edit Profile</b></a>
					<a class="mt-5  following-btn inbox-btn"  href="{% url 'chat:inbox' %}">Inbox</a>


					
					{% elif requested %}
						<a class="mt-5 m-auto text-dark edit_button " style="width:80px; height:30px" href="{% url 'unfollow' user_profile.slug%}">Requested</a>
					{% elif not_follows %}
						<a class="mt-5 btn btn-primary " style="width:80px; height:40px" href="{% url 'follow' user_profile.slug%}">Follow</a>
					{% elif follow_back %}
						<a class="mt-5 btn follow-back-btn " href="{% url 'follow' user_profile.slug%}">Follow Back</a>
					{% else %}
						<button  type="button"  data-toggle="modal" data-target="#exampleModalCenter" class="my-auto following-btn button mx-auto" style="width:111px; height:30px; background-color: inherit;">Following</button>
						<a class="mt-5 btn btn-primary " style="width:90px; height:30px;" href="{% url 'chat:new_chat' user_profile.slug%}">Message</a>
					{% endif %}
				</div>

				<div class="row detail-count d-md-flex d-none">
					<p><b>{{posts_count}}</b> posts</p>
				
					<a id="followers" class="text-dark mx-4" style="text-decoration: none;" href="{% url 'followers' user_profile.slug%}"><b>{{followers}}</b> followers</a>

					<a id="following" class="text-dark" style="text-decoration: none;" href="{% url 'following' user_profile.slug%}"><b>{{following}} </b> following</a>

				</div>
				<div class="row">
					<p style="font-weight: 600">{{user_profile.name}}</p>
				</div>
			</div>
		</div>



		<!--SMALL OR EXTRA SMALL LAYOUT-->
		<div class="d-md-none">
			<div class="row first-row-small">
				<div class="col-xs-3">
					<img class="mt-1 ml-4 profile_picture" src="{{user_profile.profile_picture.url}}">
				</div>
				<div class="col ml-2">
					<p class="mt-1" style="font-size: 22px;">{{user_profile}}</p>
					{% if user_profile == request.user %}
					<a class="mt-1 text-dark edit_button" style="font-size: 14px; " href="{% url 'account_edit' %}"><b >Edit Profile</b></a>


					
					{% elif requested %}
						<a class="mt-1 m-auto text-dark edit_button " style="width:80px; height:30px" href="{% url 'unfollow' user_profile.slug%}">Requested</a>
					{% elif not_follows %}
						<a class="mt-1 btn btn-primary " style="width:60px; height:30px" href="{% url 'follow' user_profile.slug%}">Follow</a>
					{% elif follow_back %}
						<a class="mt-1 btn follow-back-btn"  style="width:100px; height:30px" href="{% url 'follow' user_profile.slug%}">Follow Back</a>
					{% else %}
						<button  type="button"  data-toggle="modal" data-target="#exampleModalCenter" class="my-auto following-btn button mx-auto" style="width:111px; height:30px; background-color: inherit;">Following</button>
						<a class="mt-1 btn btn-primary " style="width:90px; height:30px;" href="{% url 'chat:new_chat' user_profile.slug%}">Message</a>
					{% endif %}
				</div>
			</div>
			<div class="second-row-small ml-4 my-4">
				<p style="font-weight: 600">{{user_profile.name}}</p>
			</div>
			<hr class="mb-2">
			<div class="row d-md-none" style="text-align: center; padding: 12px, 0px; color: #999999; font-size: 14px;">
					
					<div class="col">
						<p class="m-0 p-0 text-dark"><b>{{posts_count}}</b></p>
						<p class="m-0 p-0">posts</p>
					</div>
					<div class="col">
						<a id="followers" style="text-decoration: none; color: #999999" href="{% url 'followers' user_profile.slug%}"><b class="text-dark">{{followers}}</b><br>followers</a>
					</div>
					<div class="col">
						<a id="following" style="text-decoration: none; color: #999999" href="{% url 'following' user_profile.slug%}"><b class="text-dark">{{following}} </b><br>following</a>
					</div>
				</div>
			
		</div>
		


		
		<div>
			<hr class="mt-2">
			<div class="col">
				<div class="blog-posts">
					{% if user_profile == request.user %}
						<a class="col-sm-3 offset-sm-9 " href="{% url 'post:create_post' %}">Create Post</a>
					{% endif %}
					{% if private or requested %}
						<p>This account is private</p>
						<p>Follow to see their photos and videos</p>
					{% else %}
					<h3 class="mb-3 font-weight-normal">Posts:</h3>
						{% if posts %}
							<ul>
							{% for post in posts %}
									<li class="list-group-item pb-4">
										<a href="{% url 'post:detail_post' post.slug %}">{{post.caption}}</a>
									</li>
								</a>
							{% endfor %}
							</ul>
						{% elif request.user == user_profile %}
							
							<p>You have no posts. Create a post 
							<a href="{% url 'post:create_post' %}">here</a></p>

						{% else %}

							<p>User have no post to show</p>
						{% endif %}
					{% endif %}

				</div>
			</div>
		</div>
	</div>

{% endblock content %}
