{% extends 'base.html' %}

{% block content %}


{% include 'snippets/buttons_css.html' %}


<style type="text/css">
    
    .form-signin {
      width: 100%;
      max-width: 500px;
      padding: 15px;
      margin: auto;
      border: 0.1px solid #e6e6e6;
      background: #FFF
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      text-align: left;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .h3{
        text-align: center;
    }
    .image {
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
    }
    .image-group{
        position: relative;
        text-align: center;
        cursor:pointer;
    }
    .image-group:hover .image {
      opacity: 0.3;
    }
    .image-group:hover .middle {
      opacity: 1;
    }
    .text{
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
    }
    .image {
        border-radius: 50%;
    }


</style>

<form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
    
  <h1 class="h3 mb-3 font-weight-normal">Account</h1>
  <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required value="{{account_form.initial.name}}">

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="{{account_form.initial.email}}">

  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required value="{{account_form.initial.username}}">

  <input type="text" name="bio" id="inputBio" class="form-control" placeholder="Bio" value="{{account_form.initial.bio}}">

  <div class="form-check">
    <input type="checkbox" name="account_type" class="form-check-input" id="exampleCheck1" {% if response %} checked="checked" value="1" {% else %} value="0" {% endif %}>
    <label style="font-weight: bold; font-size: 14px" class="form-check-label" for="exampleCheck1">Private Account</label>
    <p>When your account is private, only people you approve can see your photos and videos on Instagram. Your existing followers won't be affected.</p>
  </div>

  <div class="form-group image-group" id="id_image_group">
      <img class="img-fluid image" style="width: 200px; height: 200px;" src="{{account_form.initial.profile_picture.url}}" id="id_image_display">
          <div class="middle">
              <div class="text">Change image</div>
          </div>
  </div>
  
  <input type="file" name="profile_picture" id="id_profile_picture" accept="image/*" onchange="readURL(this)">


  {% for field in account_form %}
    <p>
        {% for error in field.errors %}
            <p style="color:red">{{error}}</p>
        {% endfor %}
    </p>
    {% endfor %}
    {% if account_form.non_field_errors %}
        <div style="color: red">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}

    {% if success_message %}
        <p style="color:green; text-align: center;">
            {{success_message}}
        </p>
    {% endif %}



  <button class="follow-btn button" type="submit">Submit</button>
</form>


<div class="d-flex flex-row my-5">
    <a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
    <a class="m-auto" href="{% url 'logout' %}">LogOut</a>

</div>












<script type="text/javascript">
    document.getElementById('id_image_group').onclick = function(event){
        document.getElementById('id_profile_picture').click();
    };
    function readURL(input){
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#id_image_display')
                .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>

{% endblock content %}